@import "../abstracts//variables";

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 8px 0;
  
  h2 {
    @include font(18px, 28px);
    color: $primary_color600;
  }
}
.pagination-buttons {
  button {
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @include flex(inline-flex, center, center);
    text-align: center;
    text-decoration: none !important;
    height: 34px;
    padding: 0 13px;
    background: $primary_color200;
    border-color: $primary_color500;
    color: $primary_color600;
    fill: $secondary_color700;
    cursor: pointer;

    &:hover {
      background: $secondary_color800;
    }
  }
}
