@import "../abstracts/variables";

$color: #4b587c;
$color_1: #636876;
$color_2: #21293c;
$font-family_1: $font-family-regular;
$background-color_1: #fff;

ul {
  list-style: none;
}

.filter-products-container {
  max-width: 1070px;
  margin: 110px auto 0 auto;
}

.product-section {
  background-color: $background-color_1;
  border-radius: 5px;
  border: 1px solid #d9e1ec;

  .product-area {
    li {
      cursor: pointer;
      border-bottom: 1px solid #d9e1ec;

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      .filter-product-zone {
        display: flex;
        padding: 20px;
        cursor: pointer;
      }
    }
  }
}

.filter-product-zone:hover {
  background-color: #f9f9f9;

  .website__link {
    display: inline-block;
  }
}

.filter-product-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  .product__image {
    min-width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  .product__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
    height: 100%;
  }
}

.website__link {
  display: none;
}

.filter-product-zone {
  .product__content {
    h4 {
      color: $color_1;
    }

    p {
      color: $color_1;
    }
  }
}

.filter-product-zone {
  .product__content {
    .website__link {
      margin-left: 12px;
    }
  }

  .tag__section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0 0;

    p {
      color: $color;
      margin-right: 12px;
      font-family: $font-family_1;
    }
  }

  .product__vote {
    margin: 16px 8px 8px 8px;

    button {
      cursor: pointer;
      border: 1px solid #d9e1ec;
      transition: all 0.3s ease;
      max-height: 64px;
      padding: 10px 4px 12px;
      min-width: 52px;
      max-width: 52px;
      background-color: $background-color_1;
      color: $color_2;
      @include font(12px, 20px);
      font-family: $font-family-semibold;
      border-radius: 4px;
      border: 1px solid #d9e1ec;
      @include flex(flex, center, center);
      flex-direction: column;
    }
  }
}

.button-spacing {
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .filter-products-container {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .filter-products-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .filter-products-container {
    max-width: 90%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .filter-products-container {
    max-width: 100%;
    padding: 0 10px;
  }
}