@import "../abstracts/variables";

.header__section {
  @include flex(flex, space-between, center);

  h1 {
    @include font(24px, 32px);
    color: $primary_color600;
    font-family: $font-family-regular;
  }
  select {
    border: none;
    @include font(14px, 24px);

    color: $primary_color100;
    cursor: pointer;
    font-family: $font-family-semibold;
  }
  option {
    font-family: $font-family-regular;
  }
}
