@import "../abstracts/variables";

.trending__topics__filter {
  display: flex;
  padding: 12px 0;
  margin-top: 80px;
  border-bottom: 1px solid rgba(33,41,63,.1);

  .current__activity {
    @include flex(flex, center, center);

    border-right: 2px solid $primary_color500;
    padding-right: 8px;

    .bgColor {
      background-color: $secondary_color700;

      .today {
        color: $primary_color200;
      }
    }

    .today__activity {
      box-sizing: border-box;
      border-color: $primary_color500;
      border-radius: calc(10 * 4px);
      border: 1px solid $primary_color500;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      padding: 4px 8px;
      cursor: pointer;

      span {
        color: $primary_color100;
        padding: 4px;
        margin-left: 4px;
        font-family: $font-family-semibold;
        text-align: center;
        @include font(14px, 20px);
        font-weight: 600;
      }
    }
  }

  .trending__topics {
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;

    .label {
      margin-left: 12px;
      font-family: $font-family-semibold;
      color: $primary_color600;
      word-spacing: 0;
      white-space: nowrap;
      line-height: 24px;
    }

    .topic {
      @include font(14px, 24px);
      color: $primary_color100;
      white-space: nowrap;
      font-family: $font-family-semibold;
      margin-left: 8px;
      appearance: none;
      outline: none;
      position: relative;
      display: inline-block;
      transition: all 0.3s ease;
      text-align: center;
      background: $secondary_color444;
      border-color: transparent;
      border-radius: calc(10 * 4px);
      border: 1px solid $primary_color500;
      padding: 4px 12px;
      cursor: pointer;
    }
  }
}

.spacing {
  margin-left: 8px;
}

@media screen and (max-width: 480px) {
  .trending__topics__filter {
    max-width: 968px;
    margin: 110px auto 0 auto;

    .trending__topics {
      display: none;
    }

    .current__activity {
      border-right: none;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .trending__topics__filter {
    max-width: 968px;
    margin: 110px auto 0 auto;

    .trending__topics {
      display: none;
    }

    .current__activity {
      border-right: none;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .trending__topics__filter {
    max-width: 968px;
    margin: 110px auto 0 auto;

    .trending__topics {
      display: none;
    }

    .current__activity {
      border-right: none;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
}