@import "../abstracts/variables";

$color_1: #4b587c;
$color_2: #21293c;
$font-family_1: $font-family-semibold;
$border-color_1: #d9e1ec;
$border-color_2: transparent;

.trending__topics__filter {
  display: flex;
  padding: 12px 0;

  .current__activity {
    @include flex(flex, center, center);

    border-right: 2px solid #d9e1ec;
    padding-right: 8px;

    .bgColor {
      background-color: black;

      .today {
        color: #ffffff;
      }
    }

    .today__activity {
      box-sizing: border-box;
      border-color: $border-color_1;
      border-radius: calc(10 * 4px);
      border: 1px solid #d9e1ec;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
      padding: 4px 8px;
      cursor: pointer;
      span {
        color: $color_1;
        padding: 4px;
        margin-left: 4px;
        font-family: $font-family_1;
        text-align: center;
        @include font(14px, 20px);
        font-weight: 600;
      }
    }
  }
  .trending__topics {
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    .label {
      margin-left: 12px;
      font-family: $font-family_1;
      color: $color_2;
      word-spacing: 0;
      white-space: nowrap;
      line-height: 24px;
    }
    .topic {
      @include font(14px, 24px);
      color: #4b587c;
      white-space: nowrap;
      font-family: $font-family_1;
      margin-left: 8px;
      appearance: none;
      outline: none;
      position: relative;
      display: inline-block;
      transition: all 0.3s ease;
      text-align: center;
      background: #eef2ff;
      border-color: $border-color_2;
      border-radius: calc(10 * 4px);
      border: 1px solid #d9e1ec;
      padding: 4px 12px;
      cursor: pointer;
    }
  }
}
.spacing {
  margin-left: 8px;
}
