@import "../abstracts/variables";

.profile-overlay {
  background: linear-gradient(180deg,
      transparent,
      hsla(0, 0%, 95%, 0.29) 47.39%,
      $primary_color200 ),
    linear-gradient(90deg,
      #f9ddf1 0.07%,
      #e5e1ff 16.73%,
      #daedff 34.48%,
      #e2f4e3 49.98%,
      #ebf5d8 66.12%,
      #faf2da 81.95%,
      #fbe5d8 99.9%);
  position: fixed;
  inset: 0;
  z-index: -1;
  max-height: 270px;
}

.user__profile-section {
  max-width: 800px;
  padding: 32px 0;
  margin: 110px auto 0 auto;

  @include flex(flex, center, center);

  .user-image {
    max-width: 120px;
    max-height: 120px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      vertical-align: bottom;
      border: none;
    }
  }

  .user-bio-section {
    margin-left: 32px;
    margin-bottom: auto;

    h2 {
      margin-bottom: 4px;
      @include font(24px, 32px);
      color: $primary_color600;
    }

    .tagline {
      @include font(18px, 28px);
      color: $primary_color100;
      font-weight: 300;
      margin-bottom: 4px;
    }

    .following-details {
      @include flex(flex, center, center);
      gap: 20px;

      p {
        @include font(14px, 24px);
        color: $primary_color100;
      }
    }
  }

  .edit-profile-section {
    margin-left: auto;

    .edit_profile_btn {
      border: 1px solid $primary_color500;
      background: $primary_color200;
      color: $primary_color600;
      @include font(14px, 24px);
      font-weight: 600;
      padding: 8px 16px;
      appearance: none;
      outline: none;
      border-radius: 4px;
      transition: all 0.3s ease;
      text-align: center;
    }
  }
}

.product__zone {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 24px auto;
  max-height: 100%;
  box-sizing: border-box;
}

.website__link {
  display: none;
}

.product__zone:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: $accent_color100;
  animation: styles_fadeIn__tu4uh 0.3s ease-in-out;
  background-image: linear-gradient(12deg, $primary_color200 50%, hsla(0, 0%, 100%, 0));
  transition: background-color 0.3s ease-in;

  .product__vote button {
    border: 1px solid $secondary_color333;
  }

  .website__link {
    display: inline-block;
  }
}

.product__zone .product__image {
  min-width: 80px;
  height: 80px;
}

.product__zone .product__image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.product__zone .product__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 16px;
  width: 100%;
  height: 100%;
}

.product__zone .product__content h4,
.product__zone .product__content p {
  color: $secondary_color222;
}

.product__zone .product__content .website__link {
  margin-left: 12px;
}

.product__zone .tag__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0 0 0;
}

.product__zone .tag__section p {
  color: $primary_color100;
  margin-right: 12px;
  font-family: $font-family-regular;
  font-size: 12px;
  line-height: 20px;
}

.product__zone .product__vote {
  margin: 16px 8px 8px 8px;
}

.product__zone .product__vote button {
  cursor: pointer;
  border: 1px solid $primary_color500;
  transition: all 0.3s ease;
  max-height: 64px;
  padding: 10px 4px 12px;
  min-width: 52px;
  max-width: 52px;
  background-color: $primary_color200;
  color: $primary_color600;
  font-size: 12px;
  line-height: 20px;
  font-family: $font-family-semibold;
  border-radius: 4px;
  border: 1px solid $primary_color500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animated__arrow-image {
  height: 20px;
  width: 20px;
  background-image: url("../../assets/images/UpVote.png");
  background-position: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 2900%;
  // animation: arrow-animation 0.8s steps(28) 1;
  animation-fill-mode: forwards;
  scale: 2.3;
}

@keyframes arrow-animation {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}