@import "./variables";

$color_1: #21293c;
$border-color_1: #d9e1ec;

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 8px 0;
  
  h2 {
    @include font(18px, 28px);
    color: #21293c;
  }
}
.pagination-buttons {
  button {
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @include flex(inline-flex, center, center);
    text-align: center;
    text-decoration: none !important;
    height: 34px;
    padding: 0 13px;
    background: #fff;
    border-color: $border-color_1;
    color: $color_1;
    fill: #000;
    cursor: pointer;

    &:hover {
      background: #e8e8e8;
    }
  }
}
