@import "./variables";

$color_1: #21293c;
$color_2: #4b587c;

.header__section {
  @include flex(flex, space-between, center);

  h1 {
    @include font(24px, 32px);
    color: $color_1;
    font-family: $font-family-regular;
  }
  select {
    border: none;
    @include font(14px, 24px);

    color: $color_2;
    cursor: pointer;
    font-family: $font-family-semibold;
  }
  option {
    font-family: $font-family-regular;
  }
}
