@import "../abstracts/variables";
@import "../abstracts/fonts";

.nav__container {
  padding: 20px 32px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  @include flex(flex, space-between, center);
  box-shadow: 0 0 1px 1px rgba(33, 41, 63, 0.1);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 80px;
  background-color: $primary_color200;

  .navigation__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .search__product__section {
    margin-left: 32px;

    .search__box {
      @include font(14px, normal);
      background: $primary_color200;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 20px 20px;
      border-radius: 5px;
      padding: 0 20px 0 40px;
      width: 220px;
      box-sizing: border-box;
      appearance: none;
      color: $primary_color100;
      height: 40px;
      border: 1px solid $primary_color500;

      &::placeholder {
        color: $primary_color400;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .navigation__menu {
    ul {
      @include flex(flex, space-between, center);
    }

    .nav__link {
      @include font(16px, 24px);
      color: $primary_color100;

      &:hover {
        color: $secondary_color300;
      }
    }

    li {
      margin-left: 32px;
      font-family: $font-family-regular;
      font-weight: 400;
    }
  }

  .profile__section {
    ul {
      @include flex(flex, space-between, center);
    }

    .profile__item {
      margin-left: 32px;
    }

    .profile__item .lunch__product {
      font-weight: 400;
      @include font(16px, 24px);
      font-family: $font-family-regular;
      cursor: pointer;
      background: linear-gradient(
        227deg,
        $secondary_color200,
        $secondary_color100
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .user__profile {
      border-radius: 50%;
      cursor: pointer;
    }

    .notification {
      display: flex;
      flex-wrap: wrap;
    }

    .notification svg {
      margin-right: 8px;
    }

    .user_credential_section {
      margin-left: 32px;

      .product_post_link {
        font-weight: 400;
        @include font(16px, 24px);
        background: linear-gradient(
          227deg,
          $secondary_color200,
          $secondary_color100
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $primary_color100;
      }

      .item {
        margin-left: 32px;
        text-align: left;
      }

      .credential_btn {
        -webkit-appearance: button;
        cursor: pointer;
        overflow: visible;
        text-transform: none;
        margin: 0;
      }

      .sign_in {
        background: 0 0;
        border: none;
        padding: 0;
        @include font(16px, 24px);

        &:hover {
          color: $secondary_color300;
        }
      }

      .sign_up {
        background: $secondary_color300;
        border-radius: 4px;
        color: $primary_color200;
        font-weight: 600;
        padding: 8px 16px;
        @include font(16px, 24px);
        appearance: none;
        outline: none;
        border: 1px solid transparent;
        display: inline-block;
        transition: all 0.3s ease;
        text-align: center;
      }
    }
  }
}

.header-dropdown {
  cursor: pointer;
  border: none;
  background: $primary_color200;
  font-family: $font-family-regular;
  font-weight: 400;
  @include font(16px, 24px);
  color: $primary_color100;
  outline: none;
  transition: all 0.3s ease;
  text-align: center;

  &:hover {
    color: $secondary_color300;
  }
}

.inner-menu {
  @include flex(flex, flex-start, center);
  padding: 10px;
  min-width: 330px;
  gap: 5px;
  background: $primary_color200;
  border-radius: 4px;
  cursor: pointer;
}

.inner-menu h3 {
  @include font(16px, normal);
  color: $primary_color100;
}

.inner-menu p {
  @include font(12px, normal);
  color: $primary_color100;
}

nav.mobile-nav {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 8px;
  background-color: $secondary_color900;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-inner-menu {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  padding: 10px;
  min-width: 190px;
  gap: 5px;
  background: $primary_color200;
  border-radius: 4px;
  cursor: pointer;

  p {
    width: 100%;
  }

  .logout-section {
    border-top: 1px solid $primary_color100;
  }
}

.profile-inner-menu p {
  @include font(16px, 24px);
  color: $primary_color100;
}

@media screen and (max-width: 480px) {
  .product__section_layout {
    max-width: 100%;
    padding: 0 15px;

    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .product__section_layout {
    padding: 0 8px;

    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product__section_layout {
    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}
