@import "../abstracts/variables";
@import "../abstracts/fonts";

.nav__container {
  padding: 20px 32px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  @include flex(flex, space-between, center);
  box-shadow: 0 0 1px 1px rgba(33, 41, 63, 0.1);
  top: 0;
  position: sticky;
  z-index: 1;
  height: 80px;
  background-color: white;

  .navigation__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .search__product__section {
    margin-left: 32px;

    $color_1: #838d99;

    .search__box {
      @include font(14px, normal);
      background: #ffffff;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 20px 20px;
      border-radius: 5px;
      padding: 0 20px 0 40px;
      width: 220px;
      box-sizing: border-box;
      appearance: none;
      color: #4b587c;
      height: 40px;
      border: 1px solid #d9e1ec;

      &::placeholder {
        color: $color_1;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .navigation__menu {
    ul {
      @include flex(flex, space-between, center);
    }

    .nav__link {
      @include font(16px, 24px);
      color: $nav-item;
    }

    li {
      margin-left: 32px;
      font-family: $font-family-regular;
      font-weight: 400;
    }
  }

  .profile__section {
    ul {
      @include flex(flex, space-between, center);
    }

    .profile__item {
      margin-left: 32px;
    }

    .profile__item .lunch__product {
      font-weight: 400;
      @include font(16px, 24px);
      font-family: $font-family-regular;
      cursor: pointer;
      background: linear-gradient(227deg, #ff4582, #e12e0d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .user__profile {
      border-radius: 50%;
      cursor: pointer;
    }

    .notification {
      display: flex;
      flex-wrap: wrap;
    }

    .notification svg {
      margin-right: 8px;
    }
  }
}

.header-dropdown {
  cursor: pointer;
  border: none;
  background: #fff;
  font-family: $font-family-regular;
  font-weight: 400;
  @include font(16px, 24px);
  color: $nav-item;
  outline: none;
  transition: all 0.3s ease;
  text-align: center;
}

.inner-menu {
  @include flex(flex, flex-start, center);
  padding: 10px;
  min-width: 330px;
  gap: 5px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.inner-menu h3 {
  @include font(16px, normal);
  color: $nav-item;
}

.inner-menu p {
  @include font(12px, normal);
  color: $nav-item;
}

nav.mobile-nav {
  display: none;
}

@media screen and (max-width: 480px) {
  .product__section_layout {
    max-width: 100%;
    padding: 0 15px;

    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .product__section_layout {
    padding: 0 8px;

    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product__section_layout {
    .left_section {
      min-width: 90%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .nav__container {
    display: none !important;
  }

  nav.mobile-nav {
    padding: 20px 32px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__image {
      width: 25px;
      height: 20px;
    }

    .search__image {
      padding: 4px;
      margin-left: 20px;
    }
  }
}